


body{
            background-image: url("../images/back.gif");/*https://www.bizhi888.com/4kfengjing/11556.html*/
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
               background-size: cover;
        }



h1 {
  color: #e6e6e6;
 font-family: 'Bebas Neue', cursive;
 font-style: oblique;
 font-size: 70px;
 letter-spacing: 10px;
}

h2{
     font-family: 'Bebas Neue', cursive;
      font-style: oblique;
}

h4{
    font-family: 'Bebas Neue', cursive;
      font-style: oblique;
}


h5{
    font-family: 'Bebas Neue', cursive;
      font-style: oblique;
}

#hero {
    margin-bottom: 100px;
}


#latest{
    margin-top: 10%;
}

#latestsmall{
        background-color: rgba(150, 150, 150,0.2);
}


.card {
  background-color: rgba(255, 255, 255,0.3);
}

.card video{
    object-fit: cover;
}

.card img{
    object-fit: cover;
}

#aboutme p{
    font-family: 'Roboto', sans-serif;
}





.btn-secondary{
    background-color: 
#7a7a7a
!important;
}





#slidedown {
    opacity: 75%;
}



/* Dark background */


.navbar-dark {
    background-color: transparent!important;
}


.bg-dark{
     background-color: transparent!important;

}

.bg-secondary {
     background-color: rgba(0, 0, 0,0.65)!important;
}


.dropdown-menu-dark {
    background-color: rgba(150, 150, 150,0.1);

}


.dropdown-menu-dark .dropdown-item.active, 
.dropdown-menu-dark .dropdown-item:active {
    background-color:
rgba(156, 156, 156,0.3)
;
}







#more a {
      text-decoration: none;
color: whitesmoke;
}

#more>a:hover{
  color: black!important;
}



.list-group-item{
    background-color: rgba(255, 255, 255,0.3);
}

#skills {
     background-color: rgba(255, 255, 255,0.1);
}

.dropdown-menu-dark .dropdown-item.active, 
.dropdown-menu-dark .dropdown-item:active {
    background-color:
rgba(156, 156, 156,0.3)
;
}





.progress{
    height: 100%;
}


.table{
    background-color: rgba(255, 255, 255,0.1);
}





#moreworks #moreworkscontent video{
    height: 250px;

      object-fit: cover;
}


#social{
    display: flex;
        justify-content: space-around;
}

#social a{

    text-decoration: none;
    color: white;



}



#social a:hover {
    color: lightgrey;


}

#list-example222 a{
    text-decoration: none;
    color: white;
}


#list-example222 a: hover{
       color: lightgrey;
}



#progressmenu .listgroup {
    list-group-color:black;
    background-color: black;

}








#main {
  animation: fadeinanimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes fadeinanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(150, 150, 150,0.4);


    

}

footer a { 
  text-decoration: none;

}

footer>a:hover{
  color: black!important;
}
